@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<!--container start-->
<div class="gray-bg">
    <div class="fof">
        <!-- eror -->
        <div class="container  error-inner flipInX">
            <img src="https://cdn.rawgit.com/AndreyRakhmaev/ExpressDelivery/ff848aba/ExpressDelivery/ExpressDelivery/Content/img/error-icon.png" alt="" />
            <h1>Что-то пошло не так :(</h1>
            <p class="text-center">Произошла ошибка при выполнении запроса. <br /> Приносим свои извинения за причиненные неудобства</p><br />
            <a class="btn btn-info" href="@Url.Action("Index", "Home")">Перейти на Главную страницу</a>
        </div>
        <!-- eror -->
    </div>
</div>
<!--container end-->