@model  ExpressDelivery.Models.OrdersListViewModel

@{
    ViewBag.Title = "Заказы";
}

<h2>Список заказов</h2>
@foreach (var p in Model.Orders)
{
    Html.RenderPartial("OrderDetailsPatial", p);
}
<p> Число записей @ViewBag.count</p>
@ViewBag.srvName
@ViewBag.userName

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
