@{ ViewBag.Title = "Страница недоступна"; }
    <!--container start-->
    <div class="gray-bg">
        <div class="fof">
            <!-- 404 error -->
            <div class="container  error-inner wow flipInX">
                <img src="Content/img/50167336.jpg" alt="" />
                <h1>Страница находится на стадии разработки</h1>
                <a class="btn btn-info" href="@Url.Action("Index", "Home")">Перейти на Главную страницу</a>
            </div>
            <!-- /404 error -->
        </div>
    </div>
    <!--container end-->
