@{ ViewBag.Title = "Страница недоступна"; }
    <!--container start-->
    <div class="gray-bg">
        <div class="fof">
            <!-- warming -->
            <div class="container  error-inner flipInX">
                <img src="https://cdn.rawgit.com/AndreyRakhmaev/ExpressDelivery/eae583e7/ExpressDelivery/ExpressDelivery/Content/img/50167336.jpg" alt="" />
                <h1>Страница находится в стадии разработки</h1>
                <p class="text-center">Приносим свои извинения за временные неудобства</p><br />
                <a class="btn btn-info" href="@Url.Action("Index", "Home")">Перейти на Главную страницу</a>
            </div>
            <!-- warming -->
        </div>
    </div>
    <!--container end-->
