
@{
    Layout = null;
    ViewBag.Title = "Стрпница недоступна";
}

<!--container start-->
<div class="gray-bg">
    <div class="fof">
        <!-- 404 error -->
        <div class="container  error-inner wow flipInX">
            <h1>404, Страница находится на стадии разработки.</h1>
            <p class="text-center">Страница недоступна для просмотра.</p>
            <a class="btn btn-info" href="index.html">Вернуться на Главную страницу</a>
        </div>
        <!-- /404 error -->
    </div>
</div>
<!--container end-->

