
@{
    ViewBag.Title = "Помощь";
}

<div class="container">

            <div class="row mar-b-60">
                <div class="col-lg-12">
                    <!--tab start-->
                    <section class="tab wow fadeInLeft">
                        <header class="panel-heading tab-bg-dark-navy-blue">
                            <ul class="nav nav-tabs nav-justified ">
                                <li class="active">
                                    <a data-toggle="tab" href="#news">
                                        F.A.Q.
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#events">
                                        Обратная связь
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#notice-board">
                                        Онлайн - консультант
                                    </a>
                                </li>
                            </ul>
                        </header>
                        <div class="panel-body">
                            <div class="tab-content tasi-tab">
                                <div id="news" class="tab-pane fade in active">

                                    










                                    <section id="faq">

                                        <div class="container">



                                            <div class="row">

                                                <div class="col-md-10 col-md-offset-1 mar-b-30">

                                                    <div id="heading">
                                                        <h1 class="wow flipInX">F.A.Q.</h1>
                                                        <p class="lead wow fadeIn">Есть вопросы? Здесь Вы найдете на них ответы!</p>
                                                    </div>

                                                    <!--////////// Accordion Toggle //////////-->
                                                    <div class="panel-group wow fadeInUp" id="accordion" data-wow-duration="2s">

                                                        <!-- PANEL 1 -->
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading panel-heading-faq">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                        Is this template compatible with Bootstrap 3?
                                                                    </a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapseOne" class="panel-collapse collapse">
                                                                <div class="panel-body panel-faq">
                                                                    <p>Absolutely! As shown with a few examples within this demo, you can use all the bootstrap goodies such as carousels, modal windows, tooltips, tabs, accordions, form elements...</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- PANEL 2 -->
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading panel-heading-faq">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                                        Are there more icons available?
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                                <div class="panel-body panel-faq">
                                                                    <p>Hell yeah! This template is built on the awesome <a href="http://designmodo.com/flat/" target="_blank">Flat UI kit by Designmodo</a>.<br>All the icons & goodies you can see on the kit presentation can be used in Acme!</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- PANEL 3 -->
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading panel-heading-faq">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                        Is it a flat design concept?
                                                                    </a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapseThree" class="panel-collapse collapse">
                                                                <div class="panel-body panel-faq">
                                                                    <p>Off course.This theme is built on top of flat design concept.</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- PANEL 4 -->
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading panel-heading-faq">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                                        Does the template hack into Bootsrap core files?
                                                                    </a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapseFour" class="panel-collapse collapse">
                                                                <div class="panel-body panel-faq">
                                                                    <p>Nooooo. Yeww, no way! The Bootsrap files are totally untouched - all the customizations are done on extra css files, so you can upgrade bootstrap versions wihout any modification losses.</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-default">
                                                            <div class="panel-heading panel-heading-faq">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                                        Is this template compatible with Bootstrap 3?
                                                                    </a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapseFive" class="panel-collapse collapse">
                                                                <div class="panel-body panel-faq">
                                                                    <p>Absolutely! As shown with a few examples within this demo, you can use all the bootstrap goodies such as carousels, modal windows, tooltips, tabs, accordions, form elements...</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-default">
                                                            <div class="panel-heading panel-heading-faq">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                                                        Is this template responsive?
                                                                    </a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapseSix" class="panel-collapse collapse">
                                                                <div class="panel-body panel-faq">
                                                                    <p>Absolutely! As shown with a few examples within this demo, you can see this template is fully responsive.This is built on top of Responsive Twitter Bootstrap 3 framework.Enjoy!!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div><!-- /col-md-10 -->


                                            </div>
                                        </div>

                                    </section>















                                </div>
                                <div id="events" class="tab-pane fade">

                    
                                    
                                    
                                    
                                    
                                    <!-- Forms
    ================================================== -->
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Введите email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Тема сообщения</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Укажите тему сообщения">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Текст сообщения</label>
                                                    <textarea class="form-control" rows="5" placeholder="Текст сообщения"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-default">Отправить</button>
                                            </form>














                                    </div>
                                <div id="notice-board" class="tab-pane fade">
                                    <p>

                                        Здесь будет жить консультант

                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--tab end-->
                </div>
            </div>
                                        
</div>



