.sticky{position:fixed;z-index:101;}
.stop{position:relative;z-index:101;}
#aside1{display:block;box-shadow:0 0 3px 1px #999;}
#mapSurface{width:600px;height:600px;border:solid 1px #ccc;margin:0 auto;padding:20px;}
