@model ExpressDelivery.Domain.Entities.Тарифы

@{
    ViewBag.Title = "Тарифы";
}

<div class="wrap">
    <div class="box">
        <h1>Тариф «Золотой»</h1>
        <h2>Прямой номер</h2>
        <p class="price">Р 800/м.</p>
        <p class="about">Антиопределитель номера</p>
        <p class="about">Конференц-связь</p>
        <p class="about">«Любимый» номер</p>
        <p class="about">Переадресация вызова</p>
        <a class="button" href="#">Подключиться</a>
    </div>
    <div class="box blue">
        <h1>Тариф «Золотой»</h1>
        <h2>Прямой номер</h2>
        <p class="price">Р 800/м.</p>
        <p class="about">Антиопределитель номера</p>
        <p class="about">Конференц-связь</p>
        <p class="about">«Любимый» номер</p>
        <p class="about">Переадресация вызова</p>
        <a class="button" href="#">Подключиться</a>
    </div>
</div>

