
@{
    ViewBag.Title = "Процесс оформления заказа";
}

<div class="property gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 wow fadeInRight">
                <h1>
                    Процесс оформления заказа
                </h1>
                <hr>
                <p>
                    <i class="fa fa-check fa-lg pr-10">
                    </i>
                    Вызов курьера
                </p>
                <p>
                    Вы звоните нам по телефону или оформляете заказ на сайте и сообщаете адрес, где находится груз. Наш менеджер информирует Вас о стоимости и сроках доставки.
                </p>
                <p>
                    <i class="fa fa-check fa-lg pr-10">
                    </i>
                    Отправка
                </p>
                <p>
                    В назначенное время к вам приедет наш курьер, заберет груз или документы и  выдаст необходимые финансовые документы. Как упаковать отправление вы можете узнать здесь.
                </p>
                <p>
                    <i class="fa fa-check fa-lg pr-10">
                    </i>
                    Оплата
                </p>
                <p>
                    Возможна оплата наличным и безналичным платежом, получателем или отправителем по Вашему желанию. Оплатить услуги нашей компании можно на сайте банковскими картами Visa и MasterCard и через платежные системы Webmoney, Яндекс.Деньги, Faktura.ru, RBK Money, IntellectMoney, Деньги@mail.ru, а также со счета мобильного телефона (подробнее Оплата услуг онлайн). Кроме того, возможны индивидуальные условия оплаты (см. Условия оплаты).
                <p>
                    <i class="fa fa-check fa-lg pr-10">
                    </i>
                    Доставка
                </p>
                <p>
                    В городе назначения курьер передает получателю отправления по указанному в накладной адресу.
                </p>
                <p>
                    <i class="fa fa-check fa-lg pr-10">
                    </i>
                    Обратная связь
                </p>
                <p>
                    Отследить доставку Вашего отправления возможно:
                    <ul>
                        <li>самостоятельно на сайте в разделе Отслеживание</li>
                        <li>указав при заказе электронную почту, на которую придет уведомление</li>
                        <li>заказав дополнительную услугу SMS-уведомление</li>
                        <li>Также Вы можете в любой момент позвонить нам и узнать, где в данный момент находится Ваш груз</li>
                    </ul>
                    Оплата услуг онлайн Все способы оплаты
                </p>
            </div>
        </div>
    </div>
</div>

